a {
  color: white;
  transition: 0.3s;
  &:hover {
    color: $orange;
    text-decoration: none;
  }
  &:active{
  	color: $orange;
  	background-color: none;
  }
  &:focus{
  	color: $orange;
  	background-color: none;
  }
}